<div class="menu-block">
    <div class="menu__wrap">
        <div class="logo">
            <a href="../main.html" class="logo__link">
                <img src="img/logo.png" alt="Логотип" class="logo__image" />
            </a>
        </div>
        <nav>
            <ul class="menu">
                <li class="menu__item">
                    <a href="../main.html" class="menu__link">
                        <div class="menu__link__ico ico-pr_leftmenu_1"></div>
                        Главная
                    </a>
                </li>
                <li class="menu__item">
                    <a href=../flows.html class="menu__link">
                        <div class="menu__link__ico ico-pr_leftmenu_3"></div>
                        Потоки
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link disable">
                        <div class="menu__link__ico ico-pr_leftmenu_4_active"></div>
                        События
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <div class="menu__link__ico ico-pr_leftmenu_5"></div>
                        Статистика
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <div class="menu__link__ico ico-pr_leftmenu_6"></div>
                        Рефералы
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <div class="menu__link__ico ico-pr_leftmenu_7"></div>
                        Финансы
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <div class="menu__link__ico ico-www"></div>
                        Домены
                    </a>
                </li>
                <li class="menu__item">
                    <a href="news.html" class="menu__link">
                        <div class="menu__link__ico ico-pr_leftmenu_2"></div>
                        Новости
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <div class="menu__link__ico ico-question"></div>
                        FAQ / Помощь
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <div class="menu__link__ico ico-pr_leftmenu_10"></div>
                        Тех. поддержка
                        <div class="menu__link-count">
                            <span class="menu__link-count-text">
                                67
                            </span>
                        </div>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <div class="menu__link__ico ico-sale_money_2"></div>
                        Скидки на трафик
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <div class="menu__link__ico ico-pr_leftmenu_8"></div>
                        Офферы
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="contacts">
        <p class="contacts__title">
            Ваш менеджер
        </p>
        <ul class="contacts__list">
            <li class="contacts__item">
                <a href="#" class="contacts__link">
                    <div class="contacts__link__ico ico-Skype"></div>
                </a>
            </li>
            <li class="contacts__item">
                <a href="#" class="contacts__link">
                    <div class="contacts__link__ico ico-Telegram"></div>
                </a>
            </li>
            <li class="contacts__item">
                <a href="#" class="contacts__link">
                    <div class="contacts__link__ico ico-ICQ"></div>
                </a>
            </li>
        </ul>
    </div>
</div>